<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Заполните форму</title>
</head>
<body>
    <h2>User form</h2>
	<form method="post" action="postuser">
		<p>
            Name: <br/>
            <input name="name" />
        </p>
        <p>
            Age: <br/>
            <input name="age" type="number" />
        </p>
        <p>
            Languages:<br/>
            <input name="languages"/><br/>
            <input name="languages"/><br/>
            <input name="languages"/><br/>
        </p>
		<input type="submit" value="Send" />
	</form>
</body>
</html>